.logo-container {
  display: flex;
  align-items: center;
  gap: 11px;
}

.logo-container h1 {
  font-weight: 600;
  font-size: 3.75rem;
  color: var(--white);
}

@media screen and (max-width: 520px) {
  .logo-container {
    flex-direction: column;
  }
}