.card {
  padding: 39px 0 37px 0;

  z-index: 1;
  background-color: var(--black);
  width: 80%;
  height: 70vh;

  display: flex;
  flex-direction: column;
  gap: 27px;
  align-items: center;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 520px) {
  .card {
    height: min-content;
  }
}